/* For screens with width < 1000px */

:root

{
    --main-font-size: 20px;

    --page-wrapper-padding: 20px;
    --inner-wrapper-padding: 20px;

    --trick-width: 200px;
    --trick-height: 250px;
    --trick-padding: 5px;
    
    --animation-border-radius: 20px 20px 0px 0px;

    --more-container-width: 250px;
    --more-container-height: 500px;
    --more-container-border-radius: 20px;

}





.trick-wrapper

{

    float: left;

}




