:root
{
    --body-border-color: #482860;
    --body-border-thickness: 7;
    --body-fill-color:blueviolet;

    --arms-color: #482860;
    --arms-thickness: 5;

    --ball-outline-color: #774900; /* #550ba3 */
    --ball-outline-thickness: 6;
    --ball-fill-color: #ffbe56; /* #cb9bff */
}