:root
{
    --page-background-color: #222222;
    --main-font: 'Inconsolata', monospace;
    --font-color: white;
    
    
    --link-default-color: lawngreen;
    --link-hover-color: aqua;
    
    --wrapper-background-color: rgb(180, 180, 180);
    
    --animation-background-color: #141414;
    --animation-border: 2px solid #333333;
    
    --animation-desc-background-color: #084d24; 

    --slider-handle-color: #00964b;
    --slider-wrapper-background-color: #4b4b4b;

    --user-menu-background-color: #333;
    --user-menu-button-color: #1bc03f;
    --user-menu-button-hover-color: #237e3a;

    --footer-background-color: #444;

    --post-body-background: #237e3a;
    --post-text-background: #1bc03f;

    --form-background: var(--post-text-background);

}

body
{
    background-color: var(--page-background-color);
    font-family: var(--main-font);
    color: var(--font-color);
}

a
{
    text-decoration: none;
    outline: none;
    color: var(--link-default-color);
}
a:hover
{
    color: var(--link-hover-color);
}

#page-wrapper
{
    background-color: var(--wrapper-background-color);
}

.animation-wrapper
{
    background: var(--animation-background-color);
    border: var(--animation-border);
}

.slider-wrapper
{
    border: var(--animation-border);
    border-top: none;
    background-color: var(--slider-wrapper-background-color);
}

.anim-button
{
    background-color: #00964b;
    color: white;
    border: 2px solid #008341;
    outline: none;
}

.anim-button:hover
{
    background-color: #00af58;
}

.anim-slider 
{
    -webkit-appearance: none;
    background: #777777; 
    outline: none;
}

.anim-slider::-webkit-slider-thumb 
{
    -webkit-appearance: none;
    appearance: none;
    background: var(--slider-handle-color);
    cursor: pointer; 
}
  
.anim-slider::-moz-range-thumb 
{
    background: var(--slider-handle-color);
    cursor: pointer;
    border: solid 2px black;
}

.trick-desc
{
    background: var(--animation-desc-background-color);
    border: var(--animation-border);
    border-top: none;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.more-container
{
    background-color: var(--animation-background-color);
    border: var(--animation-border);
    padding: 10px;
}

footer
{
    background-color: var(--footer-background-color);
    padding: 20px;
    margin: auto;
    text-align: center;
    margin-top: 10px;
}

#suwajka section
{
    position: relative;
    float:left;
    display: flex;
    transition: left 0.5s;
    padding: 50px;
}
#suwajka section div 
{
  float: left;
  transform: scale(1);
  transition: transform 0.5s;
}
#suwajka section div.active 
{ 
  transform: scale(1.2);
}

#user-menu
{
    display: flex;
    justify-content: right;
    margin: auto;
    margin-bottom: 10px;
    padding: 5px;
    background: var(--user-menu-background-color);
}

.menu-button
{
    padding: 10px;
    border-right: 1px dashed black;
    background: var(--user-menu-button-color);
}

.menu-button:hover
{
    background: var(--user-menu-button-hover-color);
    cursor: pointer;

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.menu-button a
{
    color:inherit;
}


.form-wrapper
{
    padding: 15px;
}

.form
{
    background: var(--form-background);
    padding: 15px;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
.form input[type="submit"]
{
    outline: none;
    cursor: pointer;
}
.form input[type="submit"]:hover
{
    background: #dddddd;
}


.form input
{
    font-family: 'Courier New', Courier, monospace;
    border: 1px solid #aaaaaa;
    padding: 2px;
    margin: 2px;
    width: 200px;
    clear: both;
}

@media only screen and (min-width: 534px)
{
    .form-input
    {
        float: left;
    }
}

.form-input
{
    display: block;
    padding: 2px;
    width: 250px;
}


.post-wrapper
{
    padding: 10px;
    width: 80%;
}

.post-body
{
    background: var(--post-body-background);
    display:flex;
    padding: 5px;
}


.post-trick-wrapper
{
    float:left;
    padding: 5px;

}

.post-text-wrapper
{
    padding: 10px;
    background: var(--post-text-background);
    width:100%;
}

.reaction-wrapper
{
    background: #424b43;
    padding: 5px;
    overflow: hidden;
}

.reaction-buttons
{
    float: right;
}
.reaction-button
{
    padding: 5px;
    text-align: center;
    background: #00962d;
    -moz-user-focus: disabled;
    display: block;
    width: 50px;
    height: 20px;
    float: left;
}

.reaction-button:hover
{
    background: #10a12f;
    cursor: pointer;
}

.reaction-heart
{
    color: #ff957b;
}

#blog-entry
{
    display: flex;
    justify-content: center;
}

.error
{
    color: #000;
}